/*=====For Tablet=====*/
@media only screen and (max-width: 1000px) {
    .nav-link{
        font-size: 15px !important;
        margin: 0 !important;
    }
    .nav_bar{
        padding: 10px 0px !important;
    }
    .nav{
        float: left !important;
    }
    .fullwidth_tips h2{
        font-size: 20px !important;
        margin: 0 !important;
     }
     .fullwidth_tips{
        padding: 20px !important;
        margin-top: 40px !important;
        overflow: contain !important;
    }
}

/*=====For Phone=====*/
@media only screen and (max-width: 1000px) {
    .nav-link{
        font-size: 10px !important;
        margin: 0 !important;
    }
    .nav_bar{
        padding: 10px 0px !important;
    }
    .nav{
        float: left !important;
    }
    .header{
        font-size: 20px;
    }
}



/*=====For Deskstop=====/
/* =====Warpper===== */
body{
    overflow-x: hidden;
    background-image: url(../images/backgrounds/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*=====Navbar Start=====*/
.nav_bar{
    background-image: url("../images/greynav.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    padding: 10px 200px;
}
.navbar-nav{
    width: 100%;
    float: right;
}
.justify-content-end {
    width: 100%;
    float: right;
}
.nav-link{
    font-size: 20px;
    color: #eee;
}
.nav-link:hover,.nav-link-active{
    color: rgb(253, 228, 84);
}
/*=====Navbar end=====*/

/*=====Banner start=====*/
.banner{
    padding-top: 40px;
}
.logo{
    width: 100%;
    height: auto;
}
.h4{
    color: saddlebrown;
}
.banner_li li{
    font-size: larger;
    margin-top: 10px;
    margin-left: 100px;
}
.banner-btn{
    float: right;
    margin-top: 30px;
}
/*=====Banner end=====*/

/*=====Fullwidth Tips start=====*/
.fullwidth_tips{
    width: 100%;
    height: 250px;
    background-image: url(../images/backgrounds/tipsbackgroud.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    text-align: center;
    margin-top: 40px;
}
.fullwidth_tips h2{
   color: cadetblue;
   margin-left: 100px;
   line-height: 4rem;
}
.fullwidth_tips span{
    font-size: 8rem;
    color: rgb(236, 73, 236);
}
/*=====Fullwidth Tips end=====*/

/*=====About website start=====*/
.about-website{
    margin-top: 50px;
}
.about_header{
    color:saddlebrown;
    margin-bottom: 50px;
}
.about-photo{
    width: 100%;
    height: auto;
}
.about-header{
    font-size: 20px;
    color: darkslategray;
}
.about-list li{
    margin-left: 70px;
    color: dimgrey;
}
.about-btn{
    margin-top: 25px;
    width: 100%;
}
/*=====About website end=====*/

/*=====Footer start=====*/
.my-footer{
    background-image: url(../images/footer.png);
    background-size: cover;
    padding-top: 100px;
}
.my-footer .footer-link{
    color: #333;
    list-style-type: none;
    text-align: center;
}
.my-footer .footer-link li{
    line-height: 1.5rem;
}
.my-footer .footer-link li:hover{
    text-decoration: underline;
    cursor: pointer;
}

input[type="email"],textarea{
    margin-top: 5px;
}
.social-icons{
    width: 30px;
    height: auto;
}
.footer-text{
    font-size: 15px;
    color: #555;
    margin-left: 100px;
    margin-top: 30px;
}
/*=====Footer end=====*/




